  <% sessions.sort_by(&:date).each do |session| %>
    <div class="card-session my-3">
      <div>
        <h2>Session :<%= session.date.time.strftime("%kh%M") %> - <%= (session.date.time + session.duration * 60).strftime("%kh%M") %></h2>
        <p><%= session.game_type %></p>
      </div>
      <div class="row d-flex justify-content-between ">
        <div class="col-8">
          <% session.players.first(3).each do |player|%>
            <%= cl_image_tag player.avatar.key, class:"avatar-stack"%>
          <% end %>
          <% if session.players.count > 3  %>
            <span>+<%=session.players.count - 3%></span>
          <% end %>
        </div>
        <div class="col-4"
             data-controller="send-joining-notification"
             data-send-joining-notification-session-id-value="<%= session.id %>"
             data-send-joining-notification-playground-id-value="<%= session.playground.id %>"
        >
          <%= link_to "Join", playground_session_bookings_path(session.playground, session),
                    data: {
                            turbo_method: :post,
                            send_joining_notification_target: "joinlink",
                            action: "click->send-joining-notification#send_notification"
                          },
                    class: "button-primary"
          %>
        </div>
      </div>
    </div>
  <% end %>
