<% if @sessions.empty? %>
<p class="my-3 mute"><em>Time to create the first session on the day! ⤴️</em></p>
<% else %>
  <% sessions.sort_by(&:date).each do |session| %>
    <div class="card-session my-3">
      <div>
        <h2>Session <%= session.date.time.strftime("%kh%M") %> - <%= (session.date.time + session.duration * 60).strftime("%kh%M") %></h2>
         <p>By <u><strong><%= session.creator.username %></u></strong> |  <u>Game type:</u> <%= session.game_type %></p>
      </div>
      <div class="row d-flex justify-content-between ">
        <div class="col-8">
        <% if session.players.empty? %>
        <p class="mute"><em>Be the first to join this session !</em></p>
        <% else %>
          <% session.players.first(3).each do |player|%>
            <% if current_user.avatar.key %>
              <%= cl_image_tag player.avatar.key, class:"avatar-stack"%>
            <% else %>
              <%= image_tag "default_avatar.jpg", class:"avatar-stack"%>
            <% end %>
          <% end %>
          <% if session.players.count > 3  %>
            <span>+<%=session.players.count - 3%></span>
          <% end %>
        <% end %>
        </div>
        <div class="col-4 mb-2"
             data-controller="send-joining-notification"
             data-send-joining-notification-session-id-value="<%= session.id %>"
             data-send-joining-notification-playground-id-value="<%= session.playground.id %>"
        >
          <%= link_to "Join", playground_session_bookings_path(session.playground, session),
                    data: {
                            turbo_method: :post,
                            send_joining_notification_target: "joinlink",
                            action: "click->send-joining-notification#send_notification"
                          },
                    class: "button-secondary"
          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
