<div class="container">
<h1 class="my-3">Create a session</h1>
<%= simple_form_for [@playground, @session] do |f| %>
  <%= f.input :game_type, collection: Session.class_variable_get(:@@GAME_TYPE) %>
  <%= f.input :date %>
  <%= f.input :duration %>
  <%= f.input :minimum_players %>
  <%= f.input :comment %>
  <%= f.submit "Confirm", class: "button-primary" %>
<% end %>
</div>
