<div class="card-playground">
  <div>
    <%= render "playgrounds/carroussel", playground: playground %>
    <h2 class="my-3"><%= playground.name%></h2>
  </div>
  <div class="row my-3 d-flex justify-content-between">
    <div class="col-6">
      <p> <%= playground.description %></p>
    </div>
    <div class="col-6 mt-2">
      <%= link_to "Create a session",new_playground_session_path(playground),
          class:"button-primary" %>
    </div>
  </div>

  <div  data-controller="display-playground-sessions-reviews">
    <div class="row size-font-session-review my-3">
      <%= link_to "All sessions", "#", class:"col-5",
          data: {
                  display_playground_sessions_reviews_target: "sessionslink",
                  action: "click->display-playground-sessions-reviews#displaySessions"
                }
      %>
      <%= link_to "All reviews", "#", class:"col-5 mute",
          data: {
                  display_playground_sessions_reviews_target: "reviewslink",
                  action: "click->display-playground-sessions-reviews#displayReviews"
                }
      %>
    </div>

    <div data-display-playground-sessions-reviews-target="sessionslist">
      <%= render "sessions/sessions_list", playground: playground, sessions: sessions %>
    </div>
    <div data-display-playground-sessions-reviews-target="reviewslist", class="d-none">
      <%= render "reviews/reviews_list", playground: playground %>
    </div>
  </div>
</div>
