<div class="container"
     data-controller="chatroom-subscription"
     data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h2>Chatroom</h2>

  <div class="card-session" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    <div class="good-place">
      <%= simple_form_for [@chatroom.session, @chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
                class: "d-flex"
              } do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message...",
          wrapper_html: {class: "flex-grow-1"},
          class: "w-100"
        %>
        <%= f.submit "Send", class: " button-primary mb-3" %>
      <% end %>
    </div>
  </div>
</div>
