<div>
  <% if notification.status == "Unread" %>
    <div class="card-notification-unread">
      <small class="d-flex justify-content-between">
        <% date = notification.created_at + 60.minute %>
        <i><%= date.strftime(" %e %B at %l:%M %p") %></i>
        <% url = "/notifications_users/#{notification.notifications_user.id}/notifications/#{notification.id}/mark_as_read" %>
        <%= link_to "Mark as read", url, data: {turbo_method: :post}, class: "button-link" %>
      </small>
      <p><%= notification.content %></p>
    </div>
  <% else %>
    <div class="card-notification-read">
      <small class="d-flex justify-content-between">
        <% date = notification.created_at + 60.minute %>
        <i><%= date.strftime("%e %B at %l:%M %p") %></i>
        <% url = "/notifications_users/#{notification.notifications_user.id}/notifications/#{notification.id}/mark_as_unread" %>
        <%= link_to "Mark as unread", url, data: {turbo_method: :post}, class: "button-link" %>
      </small>
      <p><%= notification.content %></p>
    </div>
  <% end %>
</div>
